@using Microsoft.AspNetCore.Components;
@using BlazorServer001.Models;



@if (Items != null)
{
    <div class="table-responsive">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th>Person's record</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Items)
                {
                    <tr>
                        <td>
                            <PersonRow Person="item" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <Pager CurrentPage="currentPage" PageSize="PageSize" TotalItemsCount="ItemsCount" OnPageChange="HandlePageChange"></Pager>
}

@code {
    [Parameter]
    public List<Person> Items { get; set; }

    [Parameter]
    public int PageSize { get; set; }

    [Parameter]
    public int ItemsCount { get; set; }

    [Parameter]
    public EventCallback<int> OnPageChange { get; set; }

    int currentPage = 1;

    Task HandlePageChange(int page)
    {
        currentPage = page;
        return OnPageChange.InvokeAsync(page);
    }

}
